:root {
  --primaryColor: #7a63f1;
  --secondaryColor: #ebe8fc;
  --textColor: #a3a3a3;
  --greyColor: #f4f4f4;
  --whiteColor: #f5f4fa;
  --blackColor: #434344;
}

.search {
  padding: 2rem 0;

  .title {
    color: var(--blackColor);
    font-size: 22px;
    padding: 1rem 0;
    text-align: center;
    font-weight: 700;
    line-height: 1.7rem;
  }

  .searchDiv {
    padding: 0 2rem;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    .btn {
      justify-content: center;
      gap: 0.3rem;

      .icon {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .vinDiv {
    padding: 0 2rem;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    .btn {
      justify-content: center;
      gap: 0.3rem;

      .icon {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (min-width: 520px) {
  .search {
    .title {
      font-size: 25px;
      padding: 2rem 0;
    }

    .searchDiv {
      .btn {
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        font-size: 18px;

        .icon {
          font-size: 18px;
        }
      }
    }

    .vinDiv {
      .btn {
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        font-size: 18px;

        .icon {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .search {
    .title {
      font-size: 38px;
      padding: 2rem 0;
    }

    .searchDiv {
      grid-template-columns: repeat(3, 1fr);
    }

    .vinDiv {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1200px) {
  .search {
    margin: auto;

    .searchDiv {
      grid-template-columns: repeat(6, 1fr);
    }

    .vinDiv {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
