.car-search {
  background: var(--greyColor);

  .cars {
    margin: 2rem inherit;
    flex-wrap: wrap;

    .car {
      cursor: pointer;
      font-size: 15px;
      font-weight: 500;
      background: rgb(230, 230, 230);
      color: var(--blackColor);
      width: fit-content;
      padding: 4px 8px;
      margin: 6px;
      border-radius: 8px;

      &:hover {
        background: var(--primaryColor);
        color: var(--whiteColor);
      }
    }
  }
}
